<li id ="post-<%= post._id %>"> 
   <div class="postBody">
        <div class="user-delete"> 
            <% if (locals.user && locals.user.id==post.user.id) { %>
            <strong class="user">
                 <%=  post.user.name %>
            </strong>

            <span>
                <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
                <!-- study about the data attribute -->

                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                            <%= post.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= post.likes.length %> Likes
                <% } %>
            </span>    

            <span>
                    <a class="delete-post-button" href="/posts/destroy/<%= post.id %>" ><i class="fa-solid fa-trash-can"></i></a>
            </span>
            <!-- <% } %> <br>
            <small>
                Created : <%=  `post.createdAt.substring(4,14)` %>
            </small>            
            <br> -->
        </div>

        <div>    
            <span class="content"> <strong> <%=  post.content %> </strong></span><br>
        </div>

        <div>             
            <% if (post.image != undefined ) { %>
                <img src="<%- post.image %>" height="250px" width="400px">
            <% } %>
            <br>
        </div>    

        <div class="post-comments">
            <% if (locals.user) {%>

               <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST"> 
                 <input type="text" name="content" placeholder ="Type here to add comment..." required>
                 <input type="hidden" name="post" value="<%= post._id %>" >
                 <input type="submit" value="Add Comment">
               </form>

            <% } %>

            <div class="post-comments-list">
                 <ul id="post-comments-<%= post._id %>" >
                         <% for (comment of post.comments) { %>
                            <%- include('_comment') %>
                         <% } %>
                 </ul>
            </div>

         </div>
    </div> 

 </li>
